:root {
    --color-primary: #1995ad;
    --color-red: #cf3131;
    --color-text-head: #047;
    --color-background-head: #3f6c8d;

    --image-banner-900: url("./images/900/banner.jpg");
    --image-banner-400: url("./images/400/banner.jpg");
    --image-background-service-root: url("./images/root/background-service.jpg");
    --image-background-service-900: url("./images/900/background-service.jpg");
}
