.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    .page-numbers {
        display: block;
        font-weight: bold;
        color: #333;
        padding: 5px 16px;
        margin: 0 5px;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        &.current {
            color: #fff;
            background-color: #f5ae42;
        }
    }
}
