body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

a {
    color: #047;
    &:hover {
        color: #c03;
    }
    &:focus {
        color: #c30;
    }
}
